* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

label,
input,
button {
    display: block;
}

input[type="text"] {
    border: none;
    width: 100%;
}

label,
button {
    border: 1px solid silver;
    background: white;
    padding: 10px;
    width: 100%;
}

input:focus,
button:focus {
    outline: none;
}

button {
    white-space: nowrap;
}

.container {
    max-width: 500px;
    margin: 50px auto;
}

.todoApp {}
.addTodo {
    display: flex;
    &__input {
        margin-right: 10px;
        input {}
    }
    &__btn {
        width: initial;
        background: #9cfa9c;
    }
}

